## Standard Imports

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
car_sales = pd.read_csv("scikit_learn_data/car-sales-extended.csv")
car_sales

       Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
995  Toyota  Black          35820      4  32042
996  Nissan  White         155144      3   5716
997  Nissan   Blue          66604      4  31570
998   Honda  White         215883      4   4001
999  Toyota   Blue         248360      4  12732

[1000 rows x 5 columns]

In [3]:
len(car_sales)

1000

In [4]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [5]:
# Split into X and y

# remember, we want the X to predict the y

y = car_sales['Price']
X = car_sales.drop('Price', axis=1)

# Split into training and test sets

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [6]:
# Build the machine learning model
# this regressor can now classify numbers. that's the difference

from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
# model.fit(X_train, y_train)
# model.score(X_train, y_train)

# you'll see that the above code throws an error, since the data still exists in the form of string and not in numerical format

In [7]:
X

       Make Colour  Odometer (KM)  Doors
0     Honda  White          35431      4
1       BMW   Blue         192714      5
2     Honda  White          84714      4
3    Toyota  White         154365      4
4    Nissan   Blue         181577      3
..      ...    ...            ...    ...
995  Toyota  Black          35820      4
996  Nissan  White         155144      3
997  Nissan   Blue          66604      4
998   Honda  White         215883      4
999  Toyota   Blue         248360      4

[1000 rows x 4 columns]

In [8]:
# Turn the categories into numbers

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                  one_hot,
                                  categorical_features)],
                                remainder='passthrough')

transformed_X = transformer.fit_transform(X)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]], shape=(1000, 13))

In [9]:
len(transformed_X)

1000

In [10]:
pd.DataFrame(transformed_X)

      0    1    2    3    4    5    6    7    8    9    10   11        12
0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

[1000 rows x 13 columns]

Another way to do the same, is to use pd.dummies

In [11]:
dummies = pd.get_dummies(car_sales[categorical_features])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,False,True,False,False,False,False,False,False,True
1,5,True,False,False,False,False,True,False,False,False
2,4,False,True,False,False,False,False,False,False,True
3,4,False,False,False,True,False,False,False,False,True
4,3,False,False,True,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...
995,4,False,False,False,True,True,False,False,False,False
996,3,False,False,True,False,False,False,False,False,True
997,4,False,False,True,False,False,True,False,False,False
998,4,False,True,False,False,False,False,False,False,True
999,4,False,False,False,True,False,True,False,False,False

Refitting the model

In [12]:
np.random.seed = 5
X_train, X_test, y_train, y_test = train_test_split(transformed_X, y, test_size= 0.25)

model.fit(X_train, y_train)
model.score(X_train, y_train)

0.8954533872990916

In [13]:
print(f"Score on test data = {model.score(X_test, y_test)}")

Score on test data = 0.21756960364690558

### Dealing with missing data

In [14]:
import sklearn
print(sklearn.__version__)

1.6.1

### 1.2 What if there were missing values

1. Fill them with some value (knows as imputation)
2. Remove the samples with missing data altogether

In [15]:
# The current version of scikit-learn is able to handle missing data, whereas it was not, when the lectures were recorded
# A new workflow starts from here

In [16]:
car_sales_missing = pd.read_csv("scikit_learn_data/car-sales-extended-missing-data.csv")
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [17]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [18]:
# create X and y
# use X to predict y
X = car_sales_missing.drop('Price', axis=1)
y = car_sales_missing.Price

In [19]:
# converting data into numbers
# Turn the categories into numbers

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                  one_hot,
                                  categorical_features)],
                                remainder='passthrough')

transformed_X = transformer.fit_transform(X)
transformed_X

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 4000 stored elements and shape (1000, 16)>

## Filling in missing values:
### Option 1: Fill missing data with Pandas

In [20]:
car_sales_missing.keys()

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors', 'Price'], dtype='object')

In [21]:
car_sales_missing.describe()

       Odometer (KM)       Doors         Price
count     950.000000  950.000000    950.000000
mean   131253.237895    4.011579  16042.814737
std     69094.857187    0.382539   8581.695036
min     10148.000000    3.000000   2796.000000
25%     70391.250000    4.000000   9529.250000
50%    131821.000000    4.000000  14297.000000
75%    192668.500000    4.000000  20806.250000
max    249860.000000    5.000000  52458.000000

In [22]:
# Fill the 'Make' column
# car_sales_missing['Make'].fillna('missing', inplace=True) # Future warning
car_sales_missing.fillna({'Make': 'missing'}, inplace=True)

# Fill the 'Colour' column
# car_sales_missing['Colour'].fillna('missing', inplace=True)
car_sales_missing.fillna({'Colour': 'missing'}, inplace=True)

# Fill the 'Odometer (KM)' column
# car_sales_missing['Odometer (KM)'].fillna(car_sales_missing['Odometer (KM)'].mean(), inplace=True)
car_sales_missing.fillna({'Odometer (KM)': car_sales_missing['Odometer (KM)'].mean()}, inplace=True)

# Fill the 'Doors' column
# car_sales_missing.Doors.fillna(car_sales_missing.Doors.mode(), inplace=True)
car_sales_missing.fillna({'Doors': 4}, inplace=True)

# We will not fill the price column, as it is better to keep the dataset as authentic as possible.

In [23]:
car_sales_missing

        Make Colour  Odometer (KM)  Doors    Price
0      Honda  White        35431.0    4.0  15323.0
1        BMW   Blue       192714.0    5.0  19943.0
2      Honda  White        84714.0    4.0  28343.0
3     Toyota  White       154365.0    4.0  13434.0
4     Nissan   Blue       181577.0    3.0  14043.0
..       ...    ...            ...    ...      ...
995   Toyota  Black        35820.0    4.0  32042.0
996  missing  White       155144.0    3.0   5716.0
997   Nissan   Blue        66604.0    4.0  31570.0
998    Honda  White       215883.0    4.0   4001.0
999   Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [24]:
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [25]:
# Remove rows with missing value
car_sales_missing.dropna(inplace=True)

In [26]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [27]:
len(car_sales_missing)

950

In [28]:
X = car_sales_missing.drop('Price', axis=1)
y = car_sales_missing['Price']

In [29]:
# copy paste the transformer
categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                  one_hot,
                                  categorical_features)],
                                remainder='passthrough')

transformed_X = transformer.fit_transform(car_sales_missing)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]], shape=(950, 16))

### Option 2: Fill up values with scikit-learn - not recommended, esp with opt 1 is available

In [30]:
car_sales_missing = pd.read_csv("scikit_learn_data/car-sales-extended-missing-data.csv")
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [31]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [32]:
# get rid of rows that do not have x values
car_sales_missing.dropna(subset='Price', inplace=True)
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [33]:
# split into X and y
X = car_sales_missing.drop('Price', axis=1)
y = car_sales_missing.Price

In [34]:
# using scikit learn to fill in missing data
# filling values is also called as 'imputing'

from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# fill categorical data with 'missing' and numerical data with 'mean'
cat_imputer = SimpleImputer(strategy='constant', fill_value='missing')
# categorical imputer, run over the categorical data while keeping your stratergy constant, and replace the missing values with 'missing'

door_imputer = SimpleImputer(strategy='constant', fill_value=4)
# its special, as it is numerical, yet categorical

num_imputer = SimpleImputer(strategy='mean')

In [35]:
X.columns

Index(['Make', 'Colour', 'Odometer (KM)', 'Doors'], dtype='object')

In [36]:
# define columns
cat_features = ['Make', 'Colour']
door_features = ['Doors']
num_features = ['Odometer (KM)']

In [37]:
# create an imputer
imputer = ColumnTransformer([
    ('cat_imputer', cat_imputer, cat_features),
    ('door_imputer', door_imputer, door_features),
    ('num_imputer', num_imputer, num_features)
])
# (initialize the imputer object, name of the imputer object, on which set of columns should it work on)

In [38]:
# transform the data
filled_X = imputer.fit_transform(X)
filled_X

array([['Honda', 'White', 4.0, 35431.0],
       ['BMW', 'Blue', 5.0, 192714.0],
       ['Honda', 'White', 4.0, 84714.0],
       ...,
       ['Nissan', 'Blue', 4.0, 66604.0],
       ['Honda', 'White', 4.0, 215883.0],
       ['Toyota', 'Blue', 4.0, 248360.0]], shape=(950, 4), dtype=object)

In [40]:
# install the df back to its name
car_sales_filled = pd.DataFrame(filled_X, columns=['Make', 'Colour', 'Doors','Odometer (KM)'])
car_sales_filled

        Make Colour Doors Odometer (KM)
0      Honda  White   4.0       35431.0
1        BMW   Blue   5.0      192714.0
2      Honda  White   4.0       84714.0
3     Toyota  White   4.0      154365.0
4     Nissan   Blue   3.0      181577.0
..       ...    ...   ...           ...
945   Toyota  Black   4.0       35820.0
946  missing  White   3.0      155144.0
947   Nissan   Blue   4.0       66604.0
948    Honda  White   4.0      215883.0
949   Toyota   Blue   4.0      248360.0

[950 rows x 4 columns]

In [42]:
car_sales_filled.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

Now transform these values into numbers

In [41]:
categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                  one_hot,
                                  categorical_features)],
                                remainder='passthrough')

transformed_X = transformer.fit_transform(car_sales_filled)
transformed_X

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 3800 stored elements and shape (950, 15)>

## Try and fit a model

In [47]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(transformed_X,
                                                    y,
                                                    test_size=0.2)

model = RandomForestRegressor()
model.fit(X_train, y_train)
model.score(X_test, y_test)

0.1763776538710129

In [54]:
n_est = [i for i in range(100, 501, 50)]
scores = []

for i in n_est:
    model = RandomForestRegressor(n_estimators=int(i))
    model.fit(X_train, y_train)
    score = model.score(X_test, y_test)
    print(f"Score with {i} estimators: {score}")
    
    scores.append(score)

Score with 100 estimators: 0.16067855904178996
Score with 150 estimators: 0.17252386264486874
Score with 200 estimators: 0.16854927581471768
Score with 250 estimators: 0.18242094001546116
Score with 300 estimators: 0.1696844213553349
Score with 350 estimators: 0.18145658102482431
Score with 400 estimators: 0.18188628958667807
Score with 450 estimators: 0.17125719867775702
Score with 500 estimators: 0.17461277933184138

In [55]:
n_est = [50, 100, 200, 400, 800, 1000, 1250, 1500, 2000]
for i in n_est:
    model = RandomForestRegressor(n_estimators=int(i))
    model.fit(X_train, y_train)
    score = model.score(X_test, y_test)
    print(f"Score with {i} estimators: {score}")
    
    scores.append(score)

Score with 50 estimators: 0.15973076689739174
Score with 100 estimators: 0.1552462943085433
Score with 200 estimators: 0.17562294148469504
Score with 400 estimators: 0.17635329920968457
Score with 800 estimators: 0.17631830889196942
Score with 1000 estimators: 0.1733175952884003
Score with 1250 estimators: 0.17278029462696198
Score with 1500 estimators: 0.177476912509824
Score with 2000 estimators: 0.17718312782830492

In [56]:
max(scores)

0.18242094001546116

### Option 3: Scikit-Learn 3.0+ can handle NaN values natively

# 2. Choosing the right estimator/algorithm for your model

* SKlearn refers to ml models, algos as estimators
* Classification problem - predicting a category - heart disease or not
    * Sometimes `clf` is used as short for classification estimator
* Regression problem - predicting a number (selling price of a car)

Refer to sk learn map, if in doubt